* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

body {
  background-image: url('../img/Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6em;
}

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  text-decoration: none;
  display: inline-block;
  -ms-flex-pack: center;
  justify-content: center;
  width: 8em;
  height: 6em;
  margin: 2em;
}

nav .itens {
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  border-radius: 15px;
  border: #2E7D32 solid 3px;
}

nav .itens:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #EEEEEE;
  transition: 0.5s;
}

.github {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

@media all and (max-width: 990px) {
  nav a {
    width: 8em;
    height: 6em;
    margin: 1em;
  }
}

@media all and (max-width: 800px) {
  nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
